extends index.pug

block content
    h1 Hystirical data
        p 
            input(
                id='tiker-input'
                type='text'
                placeholder='Tiker'
                value='BTCUSDT'
            )
        p 
            labvel Date start 
                input(
                    id='date-start'
                    type='date'
                    placeholder='Date start'
                    value='2020'
                )
        p 
            label Date end 
                input(
                    id='date-end'
                    type='date'
                    placeholder='Date end'
                    value='2021'
                )

        p 
            input(
                id='interval-input'
                type='text'
                placeholder='Interval (exmp: 1d or 5m)'
            )
        p 
            button#download-hystorycal-data Download hystorycal data

        h1 Algo machine 

        p 
            select#files-list-select
                each val in fileNames
                    option(value=val)= val
                
        p 
            input#delay-input(
                type="number"
                placeholder='Delay in seconds'
                value='0.5'
            )  
        p 
            button#start-algo-machine Start algo machine 

    script(src='https://unpkg.com/axios/dist/axios.min.js') 
    script(src='../assets/algo-machine.js')